<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853703034223-59fejl2mrbfqg9p03l8eailbvtv6o14a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853703034223-59fejl2mrbfqg9p03l8eailbvtv6o14a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>853703034223-kd7chdctst44rgnh8r9pjr74v04fi6tv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB3agSNxmdA6oHUCR4wr5ShtSuktraZvMM</string>
	<key>GCM_SENDER_ID</key>
	<string>853703034223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tkirk21.MyHockeyPassport</string>
	<key>PROJECT_ID</key>
	<string>myhockeypassport</string>
	<key>STORAGE_BUCKET</key>
	<string>myhockeypassport.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853703034223:ios:9e3565f8fff2deb40ed49a</string>
</dict>
</plist>